body {
  background-color: darkslategray;
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: darkcyan;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .title {
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid cyan;
        background-color: transparent;
        color: whitesmoke;
        outline: none;

        &::placeholder {
          color: #ddd;
        }
      }

      button {
        background-color: cyan;
        color: darkcyan;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: cyan;
        font-size: 12px;
        cursor: pointer;

        i {
          font-size: 20px;
        }
      }
    }

    p {
      color: aqua;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  // BG_COLOR
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 65%;
    height: 80%;
    display: flex;

    .sidebar {
      flex: 1;
      background-color: aquamarine;

      .navbar {
        display: flex;
        align-items: center;
        background-color: darkcyan;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: white;

        .user {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        img {
          background-color: white;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          background-color: cyan;
          color: darkcyan;
          font-size: 14px;
          border: none;
          cursor: pointer;
          padding: 10px;
          margin-right: 10px;
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          input {
            box-sizing: border-box;
            padding: 10px;
            background-color: lightgoldenrodyellow;
            opacity: 50%;
            width: 100%;
            border: none;
            color: black;
            outline: none;
            font-size: 18px;

            &::placeholder {
              color: darkslategray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        cursor: pointer;

        &:hover {
          background-color: darkgray;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            color: darkcyan;
          }
        }
      }
    }
    .chat {
      flex: 2;
      display: flex;
      flex-direction: column;

      .logo {
        height: 50px;
      }

      .selectAnUser {
        color: white;
        background-color: #333;
        height: 50px;
        padding: 10px;
        align-items: center;
        font-size: 20px;
        border-left: 10px solid yellow;
      }

      .chatInfo {
        height: 50px;
        background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: whitesmoke;
        font-size: 20px;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        i {
          height: 24px;
          cursor: pointer;
        }
      }
    }
    .messages {
      background-color: silver;
      padding: 10px;
      height: calc(100% - 160px);
      overflow-y: scroll;

      .message {
        display: flex;
        gap: 5px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: gray;
          font-weight: 300;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 12px;
            width: 60px;
            text-align: center;
          }
        }

        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            padding: 10px 20px;
            background-color: palegoldenrod;
            border-radius: 0 10px 10px 10px;
            max-width: max-content;
          }
          img {
            width: 50%;
          }
        }

        &.owner {
          flex-direction: row-reverse;

          .messageContent {
            align-items: flex-end;

            p {
              background-color: green;
              color: white;
              border-radius: 10px 0 10px 10px;
            }
          }
        }
      }
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .input {
      height: 50px;
      background-color: azure;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        width: 100%;
        border: none;
        outline: none;
        color: black;
        background-color: transparent;
        font-size: 18px;

        &::placeholder {
          color: lightseagreen;
        }
      }

      .send {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      i {
        height: 24px;
        cursor: pointer;
        font-size: 24px;
      }

      button {
        border: none;
        padding: 10px 15px;
        background-color: lightseagreen;
        color: whitesmoke;
        cursor: pointer;
      }
    }
  }
}
